<h2>Products</h2>
<p *ngIf="auth.isUserInRole('Admin')">
  <a class="btn btn-primary" routerLink="/products/create">Create</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button
          class="btn btn-primary btn-sm mr-2"
          [routerLink]="['/products', product.id]"
        >
          Edit
        </button>
        <button
          class="btn btn-primary btn-sm"
          (click)="onDelete(product.id)"
          *ngIf="auth.isUserInRole('Admin')"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
