<h2>Products</h2>
<div class="row mb-2">
  <div class="col-2">
    <p *ngIf="auth.isUserInRole('Admin')">
      <a class="btn btn-primary" routerLink="/products/create">Create</a>
    </p>
  </div>
  <div class="col-10">
    <div class="form-inline">
      <div class="form-group mr-2">
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="queryParams.name" />
      </div>
      <button class="btn btn-default" (click)="onSearch()">Search</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" (click)="onSort('Id')">
            Id
            <i *ngIf="queryParams.sortBy == 'Id'" class="fa" [class.fa-sort-asc]="queryParams.sortAscending" [class.fa-sort-desc]="!queryParams.sortAscending"></i>
          </th>
          <th scope="col" (click)="onSort('Name')">
            Name
            <i *ngIf="queryParams.sortBy == 'Name'" class="fa" [class.fa-sort-asc]="queryParams.sortAscending" [class.fa-sort-desc]="!queryParams.sortAscending"></i>
          </th>
          <th scope="col" (click)="onSort('Description')">
            Description
            <i *ngIf="queryParams.sortBy == 'Description'" class="fa" [class.fa-sort-asc]="queryParams.sortAscending" [class.fa-sort-desc]="!queryParams.sortAscending"></i>
          </th>
          <th scope="col" (click)="onSort('Price')">
            Price
            <i *ngIf="queryParams.sortBy == 'Price'" class="fa" [class.fa-sort-asc]="queryParams.sortAscending" [class.fa-sort-desc]="!queryParams.sortAscending"></i>
          </th>
          <th scope="col" (click)="onSort('Actions')">
            Actions
            <i *ngIf="queryParams.sortBy == 'Actions'" class="fa" [class.fa-sort-asc]="queryParams.sortAscending" [class.fa-sort-desc]="!queryParams.sortAscending"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button class="btn btn-primary btn-sm mr-2"
                    [routerLink]="['/products', product.id]">
              Edit
            </button>
            <button class="btn btn-primary btn-sm"
                    (click)="onDelete(product.id)"
                    *ngIf="auth.isUserInRole('Admin')">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-pagination [total-items]="totalItems" [data-last-loaded]="dataLastLoaded" [page-size]="queryParams.pageSize" (page-changed)="onPageChanged($event)"></app-pagination>

  </div>
</div>

