<nav aria-label="Page navigation example">
  <ul class="pagination" *ngIf="pages.length > 0">
    <li class="page-item">
      <a class="page-link" aria-label="Previous" (click)="onPrevious()">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" [class.active]="currentPage == page" *ngFor="let page of pages"><a class="page-link" (click)="onNavigate(page)">{{page}}</a></li>
    <li class="page-item">
      <a class="page-link" aria-label="Next" (click)="onNext()">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
